.about-heading {
  color: black;
  font-family: 'Roboto';
  font-size: 30px;
  font-weight: 600;
}

.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
